.wy-side-nav-search a
{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  
  font-family: 'Consolas', monospace;
  font-size: 1.5em;

  margin-top: 0.45rem;

  &::before
  {
    content: '';

    display: block;
    height: 2rem;
    width: 2rem;
    margin-left: -2em;

    background-image: url('../icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    image-rendering: pixelated;

  }
}