name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write


env:
  name: 'Desomnia'

  VERSION_NET: '9.0'
  VERSION_DESOMNIA: ${{ github.ref_name }}

jobs:

  build-plugins:
    name: Build Desomnia plugin
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # name: [ FirewallKnockOperator ]
        name: [ DuoStreamIntegration, HyperVSupport, FirewallKnockOperator ]

        include:
          - name: DuoStreamIntegration
            os: -windows8.0
          - name: HyperVSupport
            os: -windows8.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '${{ env.VERSION_NET }}.x'

      - name: Publish ${{ matrix.name }}
        run: |
          dotnet publish plugins/${{ matrix.name }}/${{ matrix.name }}.csproj \
            -o ${{ runner.temp }}/publish/${{ matrix.name }} \
            -f net${{ env.VERSION_NET }}${{ matrix.os }} \
            -c Release \
            --no-self-contained \
            -p:DebugType=None \
            -p:DebugSymbols=false \
            -p:PublishSingleFile=false

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-${{ matrix.name }}
          path:  ${{ runner.temp }}/publish/
          if-no-files-found: error

  build-linux:
    name: Build DesomniaDaemon
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ arm64, x64 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '${{ env.VERSION_NET }}.x'
          
      - name: Publish DesomniaDaemon (${{ matrix.arch }})
        run: |
          dotnet publish DesomniaDaemon/DesomniaDaemon.csproj \
            -o ${{ runner.temp }}/publish \
            -f net${{ env.VERSION_NET }} \
            -c Release \
            -r linux-${{ matrix.arch }} \
            --no-self-contained \
            -p:DebugSymbols=false \
            -p:PublishSingleFile=true \
            -p:PublishReadyToRun=true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux_${{ matrix.arch }}
          path:  ${{ runner.temp }}/publish/desomniad
          if-no-files-found: error

  build-linux-docker:
    name: Build Docker image
    runs-on: ${{ matrix.runner }}
    needs: [ build-plugins, build-linux ]

    strategy:
      matrix:
        platform: [ linux/amd64, linux/arm64 ]

        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm

    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKERHUB_IMAGE }}

      - name: Download plugins
        uses: actions/download-artifact@v4
        with:
          pattern: plugin-FirewallKnockOperator
          path: ${{ runner.temp }}/context/plugins
          merge-multiple: true
      - name: Download daemon
        uses: actions/download-artifact@v4
        with:
          name: linux_${{ matrix.platform == 'linux/arm64' && 'arm64' || 'x64' }}
          path: ${{ runner.temp }}/context
          merge-multiple: true

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          context: ${{ runner.temp }}/context
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ vars.DOCKERHUB_IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-linux-docker:
    name: Create Docker manifest list
    runs-on: ubuntu-latest
    needs: [ build-linux-docker ]

    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKERHUB_IMAGE }}
          tags: |
            type=raw,value=latest
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{version}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ vars.DOCKERHUB_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ vars.DOCKERHUB_IMAGE }}:${{ steps.meta.outputs.version }}

  build-macos:
    name: Build DesomniaLaunchDaemon
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ arm64, x64 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '${{ env.VERSION_NET }}.x'
          
      - name: Publish DesomniaLaunchDaemon (${{ matrix.arch }})
        run: |
          dotnet publish DesomniaLaunchDaemon/DesomniaLaunchDaemon.csproj \
            -o ${{ runner.temp }}/publish \
            -f net${{ env.VERSION_NET }} \
            -c Release \
            -r osx-${{ matrix.arch }} \
            --no-self-contained \
            -p:DebugSymbols=false \
            -p:PublishSingleFile=true \
            -p:PublishReadyToRun=true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos_${{ matrix.arch }}
          path:  ${{ runner.temp }}/publish/desomniad
          if-no-files-found: error

  build-windows:
    name: Build DesomniaService
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ arm64, x64 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '${{ env.VERSION_NET }}.x'
          
      - name: Publish DesomniaService (${{ matrix.arch }})
        run: |
          dotnet publish DesomniaService/DesomniaService.csproj \
            -o ${{ runner.temp }}/publish \
            -f net${{ env.VERSION_NET }}-windows8.0 \
            -c Release \
            -r win-${{ matrix.arch }} \
            --no-self-contained \
            -p:DebugSymbols=false \
            -p:PublishSingleFile=false

      - name: Publish DesomniaServiceHelper (${{ matrix.arch }})
        run: |
          dotnet publish helper/DesomniaServiceHelper/DesomniaServiceHelper.csproj \
            -o ${{ runner.temp }}/publish \
            -f net${{ env.VERSION_NET }}-windows8.0 \
            -c Release \
            -r win-${{ matrix.arch }} \
            --no-self-contained \
            -p:DebugType=None \
            -p:DebugSymbols=false \
            -p:PublishSingleFile=true \
            -p:PublishReadyToRun=true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows_${{ matrix.arch }}
          path:  ${{ runner.temp }}/publish/
          if-no-files-found: error

  build-windows-installer:
    name: Build Windows installer
    runs-on: windows-latest
    needs: [ build-plugins, build-windows ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '${{ env.VERSION_NET }}.x'

      - name: Install InnoSetup
        run: choco install innosetup --no-progress -y
        # Chocolatey package: InnoSetup :contentReference[oaicite:0]{index=0}

      - name: Publish DesomniaServiceConfigurator
        run: |
          dotnet publish installer/DesomniaServiceConfigurator/DesomniaServiceConfigurator.csproj `
            -o installer\build\components `
            -f net${{ env.VERSION_NET }}-windows8.0 `
            -c Release `
            -r win-x64 `
            --no-self-contained `
            -p:DebugType=None `
            -p:DebugSymbols=false `
            -p:PublishSingleFile=true `
            -p:PublishReadyToRun=true

      - name: Download plugins
        uses: actions/download-artifact@v4
        with:
          pattern: plugin-*
          path: installer\build\components\plugins
          merge-multiple: true
      - name: Download service (x64)
        uses: actions/download-artifact@v4
        with:
          name: windows_x64
          path: installer\build\components\service\x64
      - name: Download service (arm64)
        uses: actions/download-artifact@v4
        with:
          name: windows_arm64
          path: installer\build\components\service\arm64

      - name: Build installer (ISCC)
        shell: pwsh
        run: |
          $VERSION = "${{ env.VERSION_DESOMNIA }}" -replace '^v',''
          $iscc = "${env:ProgramFiles(x86)}\Inno Setup 6\ISCC.exe"
          & $iscc "installer\setup.iss" `
            "/DMyAppVersion=$VERSION" `
            "/DDisableBridge" `
            "/O${{ runner.temp }}\installer"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: installer
          path:  ${{ runner.temp }}/installer/
          if-no-files-found: error

  release:
    name: Create Release
    needs: [ build-windows-installer ]
    runs-on: ubuntu-latest
    steps:
      # Download everything you want to publish as release assets
      - name: Download installer
        uses: actions/download-artifact@v4
        with:
          name: installer
          path: ${{ runner.temp }}

      - name: Download installer
        uses: actions/download-artifact@v4
        with:
          name: installer
          path: ${{ runner.temp }}


      # (Optional) If you need to re-zip folders into single distributables, do it here. 

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/artifacts

      - name: Create platform-specific archives
        shell: bash
        run: |
          VERSION="${{ env.VERSION_DESOMNIA }}" 
          VERSION="${VERSION#v}"
          cd ${{ runner.temp }}/artifacts
          
          for platform in windows linux macos; do
            for dir in ${platform}_*/; do
              if [ -d "$dir" ]; then
                arch="${dir%/}"
                arch="${arch#${platform}_}"
                zip -r "${{ runner.temp }}/Desomnia_${platform}_${VERSION}_${arch}.zip" "$dir"
              fi
            done
          done

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          prerelease: ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') }}
          #generate_release_notes: true
          files: |
            ${{ runner.temp }}/Desomnia_*
